.bg{
  background-image: url("nature.png");
}

#bla{
    background-color: transparent;
    border:none;


}
#blabla{
    background-color: transparent;
    border:none;

}
#blablabla{
    background-color: transparent;
    border:none;
}
#hello{
  font-family:verdana; font-size:300%; color:white;
}
.div-aboutus {
  max-width: 900px;
  padding: 30px 38px 30px;
  margin: 0 auto;
  background-color:gray;
  opacity:0.6;
  border: 3px dotted rgba(0,0,0,0.1);
}
.radio-inline{
  color:black;
  size:50px;
}
.wrapper {    
  margin-top: 80px;
  margin-bottom:0px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }
.form-signup {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  color: gray;
  text-align:center;
  margin-bottom: 30px;
}
.form-signup-heading {
  color:gray;
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#map {
  height: 585px;
  width: 1280px;
}
#cssmenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown{
      z-index: 100;
}
.img-responsive2{
    position: relative;
    height: 60px;
    width: 90px;
    display: flex-inline;
    border: none;
    right:20px;
    bottom:25px;
}
#texti {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
 .select_join {
   width: 170px;
   height: 28px;
   overflow: hidden;
   background: url('http://s24.postimg.org/lyhytocf5/dropdown.png') no-repeat right #FEFEFE;
   border: #FEFEFE 1px solid;
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
box-shadow: inset 0px 0px 10px 1px #FEFEFE;
   margin-left:550px;
   }
.select_join select {
  
   background: transparent;
   width: 170px;
   font-size:13pt;
   color:grey;
   border: 0;
   border-radius: 0;
   height: 28px;
   -webkit-appearance: none;
   
   }
   .select_join select:focus {
    outline: none;

}
.hi {
  align-content: center;
}

.ziv{
margin-top: 14px;
font-size:120%;
}

.ron{
  margin-left:-40px;

}