<!DOCTYPE html>
<html>
<head>
  <title>
    Title for this Page Goes Here
  </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstarp.css') }}"> 
	<script src="{{ url_for('static', filename='jquery.js')}}"></script>
	`<script src="{{ url_for('static', filename='bootstarp.js')}}"></script>  
</head>

<body>
	<h3 style="font-family:verdana; font-size:300%; color:black;"><i><u>Who Are We?</u></i></h3>
	<div style="font-family:verdana; font-size:200%; color:black;">
	<p><br>   Welcome our dear users;</br>
			We are a group of 5 MEET students Musa, Violette, Widad, Ron, and Ziv. We designd this website in the goal of stoping tribalism in the world, so we decided to make a webpage that helps other people to know other nations in a better and more peacful way, and to stop their sterotype thoughts about other nations or tribs.
	</p>
		   <p> In the website you can observe the world map easyly and search for a certain country or region and you can get to know more things about its  history and  culture such as traditional food , clothes and traditions. <br> </p>

	
</div>
</body>
</html>