<!DOCTYPE html>
<html>
<head>
  <title>
    Title for this Page Goes Here
  </title>
  
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstarp.css') }}"> 
	<script src="{{ url_for('static', filename='jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='bootstarp.js')}}"></script>  
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

</head>
<body class="bg"><div class=“container”>  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" id="cssmenu">
      <ul class="nav navbar-nav">


        <li><h1 class="navbar-brand"> <a href="{{url_for('main')}}"><img class="img-responsive2" src="static/Untitled-1.png"></a> </h1></li>
<!--         <li><a href="{{url_for('main')}}"><img src="Untitled-1.png" height="42" width="42"></a>-->

        <li class="ron ziv"><a href="{{url_for('main')}}">Home Page<span class="sr-only">(current)</span></a></li>
        <li class="ziv"><a href="{{url_for('AboutUs')}}">About us<span class="sr-only">(current)</span></a></li>
        <li class="ziv"><a href="{{url_for('MyProfile')}}">My profile<span class="sr-only">(current)</span></a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

              <li>
              <a href="#">

              <li class="ziv"><a href="{{url_for('logout')}}">Log Out</a></li>

              <li class="ziv"><a href="{{url_for('SignIn')}}">Sign In</a></li>


      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  
  
</div>    

<div class=“container”>  
	
<div class="container-fluid">
</nav>  
<div class="div-aboutus">
  <center>

	<h3 id="hello">Who Are We?</h3>
	<div style="font-family:verdana; font-size:200%; color:white;">
	<p><br>   Welcome our dear users;</br>
			We are a group of 5 MEET students Musa, Violette, Widad, Ron, and Ziv. We designd this website in the goal of stoping tribalism in the world, so we decided to make a webpage that helps other people to know other nations in a better and more peacful way, and to stop their sterotype thoughts about other nations or tribs.
	</p>
		   <p> In the website you can observe the world map easyly and search for a certain country or region and you can get to know more things about its  history and  culture such as traditional food , clothes and traditions. </p>
</div>
</div>  

</center>
</body>
</html>