<!DOCTYPE html>
<html>
<head>
  <title>
    Title for this Page Goes Here
  </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstarp.css') }}"> 
	<script src="{{ url_for('static', filename='jquery.js')}}"></script>
	`<script src="{{ url_for('static', filename='bootstarp.js')}}"></script>  
</head>

<body>
	<h3><i><u>About-Us</u></i></h3>
	<div style="">
	<p><br>Welcom our Dear guests;</br>
			We are a group of 5 people Musa, Violet, Widad, Ron, and Ziv. We degind this website in the goal of stoping triblism in the world, so we decided to make a web page that help other people to know other nations in a more open way and more peacful way, and to stop their sterotype thoughts anout other nations or tribs.
	</p>
			We are strating with three coyuntries which are France, Inda, and Maxico. We 


	

	</div>

</body>
</html>