<doctype! html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
	<script src="{{ url_for('static', filename='script.js')}}"> </script>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

	
	<title> country
</title>
<body class="beg">
 <div class=“container”>  
  <nav class="navbar navbar-default">
  <div class="container-fluid"

 <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" id="cssmenu">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('main')}}">Home Page<span class="sr-only">(current)</span></a></li>
        <li><a href="{{url_for('AboutUs')}}">About us<span class="sr-only">(current)</span></a></li>
        <li><a href="{{url_for('MyProfile')}}">My profile<span class="sr-only">(current)</span></a></li>

      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">

              <li>
              <a href="#">

               <li><a href="{{url_for('SignIn')}}">Sign In</a></li>

              <li><a href="{{url_for('AddUser')}}" >Sign up</a></li>


      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  
<center><h1><i> France </i></h1></center>
<form>
<center><div class="container">
<input type="button" class="btn btn-info" id="food" value="Special Food   ">
<input type="button" class="btn btn-info" id="place" value="Places to Visit">
<input type="button" class="btn btn-info" id="info" value="Some Culture   ">
</div></center>
</form>

<!--information from us-->
<div class="container">
	<div class="row">
		<div class="col-md-4">
		<div id="info-div">
		<p>
		France is a sovereign state comprising territory in western Europe<br>
 		and several overseas regions and territories
		French is the dominant language of the country's 66 million residents.<br>
		French is the second most widely learned foreign language in the world.
		The French embody romance and passion and believe in égalité, which means <br>
		equality, and is part of the country’s motto.
		</p>
		</div>
		</div>
		<div class="col-md-4">
		<div id="food-div">

		<p>
		<img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Foie_gras_en_cocotte.jpg" width="300">
		<br> <br>
		Foie Gras is one of the most popular and well-known delicacies<br>
		in Frenchcuisine and its flavour is described as rich, buttery, <br>
		and delicat.
		<br><br><br><br>
		</p>

		<p>
		<img src="http://cdn-image.foodandwine.com/sites/default/files/201004-xl-raspberry-clafoutis.jpg" width="300">
		<br><br>
		Clafouti is possibly the most famous traditional dessert from the <br>
		south west of France. 'Le Clafouti' is traditionally made with wild<br>
		cherries and comes from Limousin.
		<br><br><br><br>
		</p>
		<p>
		<img src="https://s-media-cache-ak0.pinimg.com/originals/7d/30/1e/7d301e0ced917d5df85c5bfa9bb6624c.jpg" width="300">
		<br><br>
		Cassoulet is in my opinion one of the best traditional country dishes <br>
		from France. Hearty and delicious, made well it warms the soul.
		</p>
		</div>
		</div>
<!--places-->
		<div id="places-div">
		<div class="col-md-4">
		<p>
		<img src="http://www.escapehere.com/wp-content/uploads/2013/05/820x480xParis-2-820x480.jpg.pagespeed.ic.przJGO5vmy.jpg" width="300">
		<br><br>
		the most visited place in Paris is the Eiffel Tower and Disneyland Paris.<br>
		At the same time, the famed cathedral of Notre Dame is popular with both new <br>
		and veteran visitors to this City of Lights. Thus, Paris is often viewed by<br>
 		visitors as the top city to visit
		<br><br><br>

		</p>

		<p>
		<img src="http://www.escapehere.com/wp-content/uploads/2013/05/820x480xMont-Saint-MichaelFrance-820x480.jpg.pagespeed.ic.9fmRn4BRkr.jpg" width="300">
		<br><br>
		If you want to be fully engrossed in the natural beauty of France, then <br>
		a must see place is the famed city that is the Mont Saint-Michel Abbey in<br>
		the Normandy region. There are plenty of great restaurants, stores and places<br>
		to climb and enjoy dynamic views of the landscape and ocean that surround Mont <br>
		Saint-Michel.
		<br><br><br><br>

		</p>
		<p>
		<img src="http://www.escapehere.com/wp-content/uploads/2013/05/820x480xVersailles-France-820x480.jpg.pagespeed.ic.siVdDiQhU8.jpg" width="300">
		<br><br>
		The French people call the Palace of Versailles “Chateau de Versailles,”<br>
		it's a stunningly beautiful location with a local city that’s also breathtaking.<br>
 		The city is an easy 40-minute train ride from downtown Paris.



		<br><br><br><br>
		</p>
		<p>
		<img src="http://resources.touropia.com/gfx/d/best-places-to-visit-in-peru/trujillo.jpg" width="300">
		<br><br>
		Trujillo is a moderately large city in Northwestern Peru, near the Pacific Coast. <br>
		The city was founded in 1534 among 4 Chimu settlements to enable the Spanish to ally <br>
		with them against the Incas.
		</p>
		</div></div></div></div>

</div>
</body>
</head>
</html>