
<!DOCTYPE html>
<html>
<head>
<head>

  <title>My Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">


  
</head>
<body class="bg">
<div class=“container”>  
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->



    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" id="cssmenu">
      <ul class="nav navbar-nav">


        <li><h1 class="navbar-brand"> <a href="{{url_for('main')}}"><img class="img-responsive2" src="static/Untitled-1.png"></a> </h1></li>
<!--         <li><a href="{{url_for('main')}}"><img src="Untitled-1.png" height="42" width="42"></a>-->

        <li class="ron ziv"><a href="{{url_for('main')}}">Home Page<span class="sr-only">(current)</span></a></li>
        <li class="ziv"><a href="{{url_for('AboutUs')}}">About us<span class="sr-only">(current)</span></a></li>
        <li class="ziv"><a href="{{url_for('MyProfile')}}">My profile<span class="sr-only">(current)</span></a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

              <li>
              <a href="#">

              <li class="ziv"><a href="{{url_for('logout')}}">Log Out</a></li>

              <li class="ziv"><a href="{{url_for('SignIn')}}">Sign In</a></li>


      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  
  
</div>    

<div class = "container">
  <div class="wrapper" >
<br>
  {% if error == True %}
  <center>
  <h3 style="color: red; font-size:200%;">You Are Not Logged In, Please Sign In or Sign Up</h3>
  <meta http-equiv="refresh" content="1.5;/" />
  {%else%}
  </center>
<!--div class="bg"-->
<h1 style="color:white;"><center><b><u><i>{{ user.name }}'s Profile</i></u></b></center></h1>
<div class="container">
<div class="row">  
  <div style="font-family:verdana; font-size:130%; color:white;">
<h3 style="color:grey;"><b><i>Old Posts</i></b></h3>
  {%endif%}
  
<!-- <div class="container-fluid"> -->
 
<!-- <div class="div-posts"> -->
  <center>


{% for post in posts %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; border-left-width:0px; border-right-width:0px; border-top-width:0px; border-bottom-width:0px;">
      <div class="div-posts">
        <h3>{{ post.title }}</h3>
        <p>{{ post.text }}</p>
        <p><a href="{{ url_for('EditPost', post_id=post.id, user_id=user.id) }}" class="btn btn-primary" role="button">Edit</a></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>

</center>
</div>
</div>
</div>
</div>
</a>
</li>
</ul>
</div>
</div>
</body>



</html>
