<!DOCTYPE html>
<html>
<head>
  <title>
    Title for this Page Goes Here
  </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstarp.css') }}"> 
    <script src="{{ url_for('static', filename='jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstarp.js')}}"></script>

 </head>
 <body class="bg">
 <div class=“container”>  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->



    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" id="cssmenu">
      <ul class="nav navbar-nav">


        <li><h1 class="navbar-brand"> <a href="{{url_for('main')}}"><img class="img-responsive2" src="static/Untitled-1.png"></a> </h1></li>
<!--         <li><a href="{{url_for('main')}}"><img src="Untitled-1.png" height="42" width="42"></a>-->

        <li class="ron ziv"><a href="{{url_for('main')}}">Home Page<span class="sr-only">(current)</span></a></li>
        <li class="ziv"><a href="{{url_for('AboutUs')}}">About us<span class="sr-only">(current)</span></a></li>
        <li class="ziv"><a href="{{url_for('MyProfile')}}">My profile<span class="sr-only">(current)</span></a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

              <li>
              <a href="#">

              <li class="ziv"><a href="{{url_for('logout')}}">Log Out</a></li>

              <li class="ziv"><a href="{{url_for('SignIn')}}">Sign In</a></li>


      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  
  
</div>    

<div class = "container">
  <div class="wrapper" >

  {% if error == True %}
  <h3 style="color: red;">Wrong username or Password, try again!</h3>
  {%endif%}
    <form action="{{url_for('SignIn')}}" method="post" name="Login_Form" class="form-signin" id="bla">       
        <h3 style="color:gray;" class="form-signin-heading">Welcome Back! Please Sign In</h3>
        
        <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>          
       <br>
        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button> 
        <br>
      <center>
        <a href="{{url_for('AddUser')}}" class="btn btn-info" role="button">Sign Up</a>
        <a href="{{url_for('main')}}" class="btn btn-info" role="button">Cancel</a>    
      </center>  
    </form>     
  </div>
</div>


</body>
</html>